@use "/src/styles/variables" as vars;
@use "/src/styles/mixins.scss" as mixins;

.about-page {
    .btn.go-back {
        margin-top: 2.5vh;
        margin-left: vars.$mobile-padding-x;
    }

    .desc {
        @include mixins.apply-padding;

        .heading.desktop {
            display: none;
        }

        img {
            object-fit: cover;
            object-position: 0 10%;
        }
    }

    .members {
        @include mixins.apply-padding;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75%;
            margin: 3vh 0;

            img.pfp {
                margin: 0 auto;
                width: 65%;
                border-radius: 99%;
            }

            strong {
                font-size: 1.25rem;
                margin: 1rem 0 0.75rem;
            }
        }
    }

    @media screen and (min-width: vars.$breakpoint-desktop) {
        .btn.go-back {
            margin-left: vars.$desktop-padding-x;
        }

        .desc {
            margin-top: 10vh;

            .container {
                height: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
            }

            .heading.mobile {
                display: none;
            }

            .heading.desktop {
                display: block;
                margin-top: 0;
            }

            img {
                margin-left: 10vw;
                height: 40vh;
            }
        }

        .members {
            margin-top: 15vh;

            .heading {
                text-align: center;
            }

            .container {
                flex-direction: row;
                justify-content: center;

                article {
                    width: 25%;
                }
            }
        }
    }

    @media screen and (min-width: vars.$breakpoint-big-screen) {
        .desc {
            img {
                margin-left: 5vw;
                width: 50vw;
            }
        }
    }
}
