@use "/src/styles/variables" as vars;
@use "/src/styles/mixins.scss" as mixins;

.about {
    .btn.go-back {
        margin-top: 2.5vh;
        margin-left: vars.$mobile-padding-x;
    }

    .desc {
        @include mixins.apply-padding;

        img {
            object-fit: cover;
            object-position: 0 10%;
        }
    }

    .members {
        @include mixins.apply-padding;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75%;
            margin: 3vh 0;

            img.pfp {
                margin: 0 auto;
                width: 65%;
                border-radius: 99%;
            }

            strong {
                font-size: 1.25rem;
                margin: 1rem 0 0.75rem;
            }
        }
    }

    @media screen and (min-width: vars.$breakpoint-desktop) {
        .btn.go-back {
            margin-left: vars.$desktop-padding-x;
        }

        .desc {
            h1 {
                margin-top: 10vh;
            }

            .container {
                display: flex;
                flex-direction: row-reverse;
            }

            img {
                margin-left: 20vw;
                height: 40vh;
            }
        }

        .members {
            .container {
                flex-direction: row;
                justify-content: center;

                article {
                    width: 25%;
                }
            }
        }
    }
}
