@use "../../styles/variables.scss" as vars;
@use "../../styles/mixins.scss" as mixins;

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;

    // HERO
    .hero {
        @include mixins.apply-padding;
        position: relative;
        height: 90vh;

        .text {
            margin-top: 25vh;
            width: 70vw;

            h1 {
                margin: 2rem 0 0;
            }

            p {
                margin: 2rem 0;
            }

            .btn {
                margin-top: 2.5rem;
            }
        }

        .cuadros {
            position: absolute;
            z-index: -1;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "montero happier"
                "montero snowchild";

            bottom: -10vh;
            right: -40vw;
            transform: rotate(-24deg);

            .montero {
                grid-area: montero;
            }

            .happier {
                grid-area: happier;
            }

            .snowchild {
                grid-area: snowchild;
            }
        }

        // HERO | TABLET
        @media screen and (min-width: vars.$breakpoint-tablet) {
            height: 93vh;

            .cuadros {
                transform: rotate(-24deg) scale(1.5);
                bottom: -8vh;
                right: -20vw;
            }
        }

        // HERO | DESKTOP
        @media screen and (min-width: vars.$breakpoint-desktop) {
            .text {
                margin-top: 12rem;

                h1 {
                    font-size: 3.5rem;
                }
            }

            .cuadros {
                transform: rotate(-35deg) scale(1.75);
                right: 0;
                bottom: 0;
            }
        }

        // HERO | BIG SCREEN
        @media screen and (min-width: vars.$breakpoint-big-screen) {
            .text {
                margin-top: 20rem;
            }

            .cuadros {
                transform: rotate(-35deg) scale(2.45);
            }
        }
    }

    .about {
        @include mixins.apply-padding;
        background-color: vars.$dark;
        color: white;

        .btn,
        ul {
            margin: 1rem 0;
        }

        .carousel {
            margin: 0 0 7vh 0;

            .splide__pagination {
                bottom: -2.5rem;
            }

            .centered {
                display: flex;
                justify-content: center;

                img {
                    width: 80%;
                }
            }
        }

        // ABOUT | TABLET
        @media screen and (min-width: vars.$breakpoint-tablet) {
            .btn {
                margin: 4vh auto;
            }
        }

        // ABOUT | DESKTOP
        @media screen and (min-width: vars.$breakpoint-desktop) {
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .container {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;

                .carousel {
                    width: 48vh;
                }

                .btn {
                    margin: 2rem 0;
                }
            }
        }
    }
}
