@use "../../styles/variables.scss" as vars;
@use "../../styles/mixins.scss" as mixins;

.landing {
    @include mixins.apply-padding;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 80vh;

    // HERO
    .hero {
        position: relative;
        height: 80vh;

        .text {
            margin-top: 25vh;
            width: 70vw;

            h1 {
                margin: 2rem 0 0;
            }

            p {
                margin: 2rem 0;
            }

            .btn {
                margin-top: 5rem;
            }
        }

        .cuadros {
            position: absolute;
            z-index: -1;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "montero happier"
                "montero snowchild";

            bottom: -10vh;
            right: -40vw;
            transform: rotate(-24deg);

            .montero {
                grid-area: montero;
            }

            .happier {
                grid-area: happier;
            }

            .snowchild {
                grid-area: snowchild;
            }
        }

        // HERO | TABLET
        @media screen and (min-width: vars.$breakpoint-tablet) {
            .cuadros {
                transform: rotate(-24deg) scale(1.5);
                bottom: -8vh;
                right: -20vw;
            }
        }

        // HERO | DESKTOP
        @media screen and (min-width: vars.$breakpoint-desktop) {
            .text {
                margin-top: 20rem;

                h1 {
                    font-size: 3.5rem;
                }
            }

            .cuadros {
                transform: rotate(-35deg) scale(2.5);
                right: 0;
                bottom: 0;
            }
        }
    }
}
