@use "../../styles/mixins.scss" as mixins;

.landing {
    @include mixins.apply-padding;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero {
        position: relative;
        height: 90vh;

        .text {
            margin-top: 50%;
            width: 90%;

            h1 {
                margin: 2rem 0 0;
            }

            p {
                margin: 2rem 0;
            }

            .btn {
                margin-top: 5rem;
            }
        }

        .cuadros {
            position: absolute;

            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "montero happier"
                "montero snowchild";

            bottom: -25px;
            left: 30%;
            transform: rotate(-27deg);

            .montero {
                grid-area: montero;
            }

            .happier {
                grid-area: happier;
            }

            .snowchild {
                grid-area: snowchild;
            }
        }
    }
}
