@use "./variables" as vars;

.btn {
    background-color: vars.$dark;
    color: white;
    padding: 0.5rem 2rem;
    width: fit-content;
    display: block;
    text-decoration: none;
    line-height: 1.25rem;

    @media screen and (min-width: vars.$breakpoint-tablet) {
        line-height: 1.75rem;

        &:hover {
            text-decoration: underline;
            filter: sepia(1.85);
            cursor: pointer;
        }
    }

    &.light {
        background-color: white;
        color: vars.$dark;
    }

    &.pink {
        background-color: vars.$pinkish;
    }

    &.long {
        width: 80%;
        text-align: center;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: vars.$breakpoint-desktop) {
            width: fit-content;
            text-align: unset;
        }
    }
}

.heading {
    font-weight: bold;
    font-size: 1.45rem;

    &.light {
        color: white;
    }

    &.bigger {
        font-size: 2rem;
    }

    @media screen and (min-width: vars.$breakpoint-tablet) {
        font-size: 2.1rem;

        &.bigger {
            font-size: 2.5rem;
        }
    }
}
