@use "./variables" as vars;

.btn {
    background-color: vars.$dark;
    color: white;
    padding: 0.5rem 2rem;
    width: fit-content;
    display: block;
    text-decoration: none;
    line-height: 1.25rem;

    @media screen and (min-width: vars.$breakpoint-tablet) {
        line-height: 1.75rem;
    }

    &.light {
        background-color: white;
        color: vars.$dark;
    }

    &.long {
        width: 80%;
        text-align: center;

        @media screen and (min-width: vars.$breakpoint-desktop) {
            width: fit-content;
            text-align: unset;
        }
    }
}
