@use "./variables" as vars;

@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400;800&display=swap");

@import "./common";

body {
    margin: 0;
    font-family: "Podkova", serif;
    font-weight: 18px;
    color: vars.$dark;
    min-height: 100vh;

    @media screen and (min-width: vars.$breakpoint-desktop) {
        font-size: 20px;
    }
}
