@use "./variables" as vars;

@mixin hoverable-link {
    transition: all 0.2s ease-in-out;

    &:hover {
        color: vars.$pinkish;
        text-decoration: underline;
    }
}

@mixin apply-padding {
    padding-left: vars.$mobile-padding-x;
    padding-right: vars.$mobile-padding-x;

    @media screen and (min-width: vars.$breakpoint-desktop) {
        padding-left: vars.$desktop-padding-x;
        padding-right: vars.$desktop-padding-x;
    }
}
